# VacationPy

In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Sabzevar,IR,2022-01-22 21:21:28,36.2126,57.6819,30.88,43,0,1.52
1,1,Mizdah,LY,2022-01-22 21:21:29,31.4451,12.9801,45.86,73,0,8.12
2,2,Iqaluit,CA,2022-01-22 21:21:29,63.7506,-68.5145,4.73,65,100,8.99
3,3,Roma,US,2022-01-22 21:20:40,43.2128,-75.4557,25.66,46,0,6.91
4,4,Georgetown,MY,2022-01-22 21:21:29,5.4112,100.3354,80.89,85,20,2.30

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [6]:
# Get the maximum temperature and replace non negatives with 0
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

## Create heatmap

In [21]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable, replace negative max temps with 0
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
winds = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=winds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

## Create User_Defined Filtered dataset

In [25]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [46]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)].dropna()
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
4,4,Georgetown,MY,2022-01-22 21:21:29,5.4112,100.3354,80.89,85,20,2.30
6,6,Carnarvon,AU,2022-01-22 21:21:30,-24.8667,113.6333,77.07,73,32,4.61
10,10,Rikitea,PF,2022-01-22 21:21:32,-23.1203,-134.9692,78.49,74,100,10.16
13,13,Bredasdorp,ZA,2022-01-22 21:21:32,-34.5322,20.0403,80.28,88,20,1.14
16,16,Bambous Virieux,MU,2022-01-22 21:21:34,-20.3428,57.7575,81.21,89,40,10.36
24,24,Alvaraes,BR,2022-01-22 21:21:36,-3.2208,-64.8042,78.67,99,100,5.79
26,26,Cape Town,ZA,2022-01-22 21:17:25,-33.9258,18.4232,84.11,58,0,3.44
29,29,Maceio,BR,2022-01-22 21:21:37,-9.6658,-35.7353,83.64,69,20,10.36
37,37,Bintulu,MY,2022-01-22 21:21:39,3.1667,113.0333,75.61,94,20,4.61
39,39,Moissala,TD,2022-01-22 21:21:40,8.3404,17.7663,77.65,19,13,4.74

In [49]:
# dropped two values
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

## Hotel Dataframe

In [50]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
4        Georgetown      MY     80.89   5.4112  100.3354
6         Carnarvon      AU     77.07 -24.8667  113.6333
10          Rikitea      PF     78.49 -23.1203 -134.9692
13       Bredasdorp      ZA     80.28 -34.5322   20.0403
16  Bambous Virieux      MU     81.21 -20.3428   57.7575
24         Alvaraes      BR     78.67  -3.2208  -64.8042
26        Cape Town      ZA     84.11 -33.9258   18.4232
29           Maceio      BR     83.64  -9.6658  -35.7353
37          Bintulu      MY     75.61   3.1667  113.0333
39         Moissala      TD     77.65   8.3404   17.7663

In [51]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [56]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [58]:
hotel_df.head(50)

,City,Country,Max Temp,Lat,Lng,Hotel Name
4,Georgetown,MY,80.89,5.4112,100.3354,Cititel Penang
6,Carnarvon,AU,77.07,-24.8667,113.6333,Hospitality Carnarvon
10,Rikitea,PF,78.49,-23.1203,-134.9692,People ThankYou
13,Bredasdorp,ZA,80.28,-34.5322,20.0403,Bredasdorp Country Manor
16,Bambous Virieux,MU,81.21,-20.3428,57.7575,Casa Tia Villa
24,Alvaraes,BR,78.67,-3.2208,-64.8042,Av. Castelo Branco. Ginásio Ermelino vieira.
26,Cape Town,ZA,84.11,-33.9258,18.4232,Southern Sun Waterfront Cape Town
29,Maceio,BR,83.64,-9.6658,-35.7353,Poutur Pousada
37,Bintulu,MY,75.61,3.1667,113.0333,900 Boutique INN
39,Moissala,TD,77.65,8.3404,17.7663,
46,Hermanus,ZA,83.89,-34.4187,19.2345,Misty Waves Boutique Hotel
50,Kieta,PG,81.84,-6.2167,155.6333,Uruna Bay Retreat
53,Vaini,TO,84.36,-21.2000,-175.2000,Keleti Beach Resort
56,Iquitos,PE,87.84,-3.7481,-73.2472,Casa Morey Hotel & Restaurant
59,San Cristobal,VE,78.98,7.7669,-72.2250,Posada Villaven C.A.
61,Castro,BR,76.14,-24.7911,-50.0119,CHACARA BAILLY
64,Avarua,CK,77.05,-21.2078,-159.7750,Paradise Inn
70,Pitimbu,BR,81.19,-7.4706,-34.8086,Reserva do Abiaí
71,Hilo,US,79.11,19.7297,-155.0900,Hilo Hawaiian Hotel
78,Butaritari,KI,82.38,3.0707,172.7902,Isles Sunset Lodge
80,Kapaa,US,76.98,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
82,Campos,BR,80.65,-21.7500,-41.3000,Palace Hotel - Campos dos Goytacazes
90,Bubaque,GW,80.02,11.2833,-15.8333,"Casa Dora, Bubaque"
94,Sorong,ID,78.64,-0.8833,131.2500,Waigo Splash Hotel
97,Nhulunbuy,AU,79.41,-12.2333,136.7667,East Arnhem Real Estate
99,Saint-Philippe,RE,80.19,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
113,Honiara,SB,82.45,-9.4333,159.9500,Heritage Park Hotel
116,Pamanukan,ID,75.13,-6.2842,107.8106,Paris Day Hotel Pamanukan
120,Samana,DO,84.16,19.2056,-69.3369,The Bannister - Hotel & Yacht Club
121,Rawson,AR,80.58,-43.3002,-65.1023,Hosteria Sampedro
122,Vanimo,PG,76.73,-2.6741,141.3028,Vahmoneh Lodge Vanimo
123,Gamba,GA,76.48,-2.6500,10.0000,
124,Sungairaya,ID,76.15,0.7000,108.9000,Mess P.Milu
126,Hithadhoo,MV,82.44,-0.6000,73.0833,Scoop Guest House
127,Camopi,GF,75.78,3.1655,-52.3158,La pousada
128,Mogadishu,SO,78.17,2.0371,45.3438,Hotel Juba
129,Puerto Ayora,EC,75.72,-0.7393,-90.3518,Finch Bay Galapagos Hotel
130,Male,MV,82.35,4.1748,73.5089,Hotel Octave Maldives
132,Placido De Castro,BR,75.02,-10.3353,-67.1856,Hotel Carioca
133,Puerto Princesa,PH,76.33,9.7392,118.7353,Deep Forest Garden Inn
137,Atuona,PF,78.89,-9.8000,-139.0333,Villa Enata
139,Mahebourg,MU,81.25,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
141,Ituiutaba,BR,82.58,-18.9689,-49.4650,Bernal Hotel
143,Eureka,US,75.81,40.8021,-124.1637,Eureka Inn Trademark By Wyndham
153,Sabang,ID,80.71,5.8933,95.3214,Hotel Citra
160,Kahului,US,83.46,20.8947,-156.4700,Maui Seaside Hotel
162,Alyangula,AU,78.67,-13.8483,136.4192,Groote Eylandt Lodge
170,Kloulklubed,PW,81.52,7.0419,134.2556,Storyboard Beach Resort
171,Cabo San Lucas,MX,78.62,22.8909,-109.9124,Hotel Tesoro Los Cabos
172,Merauke,ID,77.38,-8.4667,140.3333,

## Adding markers

In [60]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

## Adding info box to markers

In [61]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [62]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))